<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mAnimation_3</key>
	<string>oliveapp_eyeclose</string>
	<key>mAnimation_52</key>
	<string>oliveapp_headright</string>
	<key>mAnimation_51</key>
	<string>oliveapp_headleft</string>
	<key>mAnimation_53</key>
	<string>oliveapp_headup</string>
    <key>mAnimation_54</key>
    <string>oliveapp_headdown</string>
    <key>mAnimation_60</key>
    <string>oliveapp_headshake</string>
	<key>mAnimation_1</key>
	<string>oliveapp_mouthopen</string>
	<key>mAnimation_0</key>
	<string>oliveapp_normal</string>
</dict>
</plist>
